$fhd: 1920px;
$xl: 1660px;
$mac: 1440px;
$lt: 1366px;
$ls: 1280px;
$lg: 1199px;
$tbx: 1024px;
$md: 991px;
$tb: 860px;
$sm: 991px;
$mbl: 640px;
$mbs: 576px;
$mb: 480px;
$ip: 420px;
$xs: 390px;
$xxs: 350px;